@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@layer base {
    body {
        @apply bg-primary text-gray-50;
        font-family: 'Roboto', sans-serif;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.icon-nav {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    @apply mx-0.5 sm:mx-5;
  }

.animation-cubic {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2.5px;
    background-color: white;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.link:hover:after {
    width: 100%;
}